# NAIVE BAYES

In [94]:
import pandas as pd

In [95]:
sal_train=pd.read_csv("C:\\Users\\kanis\\Documents\\Assignment\\\Assignments data\\Naive Bayes\\SalaryData_Train.csv")
sal_test=pd.read_csv("C:\\Users\kanis\\Documents\\Assignment\\Assignments data\\Naive Bayes\\SalaryData_Test.csv")

In [96]:
sal_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [97]:
sal_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [98]:
sal_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [99]:
sal_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [100]:
sal_train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [101]:
sal_test.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [102]:
from sklearn.preprocessing import LabelEncoder
import re
import string
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [103]:
sal_train1 = sal_train.drop(["age", "educationno", "capitalgain", "capitalloss", "native", "hoursperweek"],1)

In [104]:
sal_test1 = sal_test.drop(["age", "educationno", "capitalgain", "capitalloss", "native", "hoursperweek"],1)

In [105]:
data=['workclass','education','maritalstatus','occupation','relationship','race','sex',]

In [106]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in data :
    sal_train1[i]=label_encoder.fit_transform(sal_train1[i])
    sal_test1[i]=label_encoder.fit_transform(sal_test1[i])

In [107]:
sal_train1.head()

,workclass,education,maritalstatus,occupation,relationship,race,sex,Salary
0,5,9,4,0,1,4,1,<=50K
1,4,9,2,3,0,4,1,<=50K
2,2,11,0,5,1,4,1,<=50K
3,2,1,2,5,0,2,1,<=50K
4,2,9,2,9,5,2,0,<=50K

In [108]:
trainx = sal_train1.drop("Salary", 1)
trainy = sal_train1["Salary"]

testx = sal_test1.drop("Salary",1)
testy = sal_test1["Salary"]

In [109]:
classifier1 = MB()
classifier1.fit(trainx, trainy)

MultinomialNB()

In [112]:
predtrain = classifier1.predict(trainx)
from sklearn.metrics import accuracy_score

In [113]:

acctrain = accuracy_score(predtrain, trainy)
acctrain

0.7418189052087132

In [114]:
predtest = classifier1.predict(testx)
acctest = accuracy_score(predtest, testy)
acctest

0.745418326693227